<form action="/admin/collections/1/gems/add" method="POST">
    <input type="text" name="name" id="">
    <textarea name="description" cols="30" rows="10"></textarea>
    <input type="submit" value="Add Gem">
</form>