<body>
        
    <div class="register">
    <form>
        <input type="text" class="input-field" name="storename" placeholder="Username" />
        <input type="tel" class="input-field" name="phone" placeholder="555-555-5555" />
        <input type="email" class="input-field" name="email" placeholder="Email" />
        <input type="password" class="input-field" name="password" placeholder="Password" />
        <input type="submit" value="register" class="button" alt=""/></br>
    </form>
    </div>

</body>    