<div class="index">
  <div class="store-heading">
    <h1>The Gem Emporium</h1>
    <h2>All kinds of gems for all kinds of people</h2>
      <a class="button" href="/store" class="button">Shop Now</a>
  </div>
</div>
