<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gem Emporium</title>
</head>
<body>
   <div class="register">
       <form action="/register" method="POST">
            <input type="text" name="storename" placeholder="Store name" required>
            <input type="tel" name"phone" placeholder="555-555-5555">
            <input type="text" name="email" placeholder="Email">
            <input type="submit" value="Register">
       </form> 
   </div> 
</body>
</html>