<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gem Emporium</title>
</head>
<body>
    <div class="register">
    <form>
        <input type="text" class="input-field" name="storename" placeholder="Username" />
        <input type="tel" class="input-field" name="phone" placeholder="555-555-5555" />
        <input type="email" class="input-field" name="email" placeholder="Email" />
        <input type="password" class="input-field" name="password" placeholder="Password" />
        <input type="submit" value="register" class="button" alt=""/></br>
    </form>
    </div>
</body>
</html>