<div class="nav">
    <p><a href="/">Gem Emporium</a></p>
</div>


<% for (var i = 0; i < store.collections.length; i++) { %>
    <div class="collection">
        <h2><%= store.collections[i].name %></h2>
    </div>
<% } %>

