<div class="container">
    <% for (var i = 0; i < store.collections.length; i++) { %>
        <div class="collection">
            <p><a href="/store/<%= store.collections[i].id %>"><%= store.collections[i].name %></a></p>
        </div>
    <% } %> 
</div>