* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #383842;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ccc;
}

.nav {
    list-style-type: none;
    top: 0;
    margin: 0 auto;
    padding: 0;
    height: inherit;
    background-color: black;
}

.nav p {
    display: block;
    float: left;
    position: relative;
    background-position: 0 -5px;
    background-size: 100% 110%;
    transition: all 0.4s;
}

.nav p a:hover {
    background-position: 0 0;
    color: #748c9a;
    font-size: 110%;
    font-weight: bold;
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.collection {
    background-color: green;
    grid-column: 1fr;
}

input[type=submit] {
    background-color: #af964e;
    padding: 5px;
    border: none;
    border-radius: 8px;
    color: #ccc;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

input[type=submit]:hover {
    background-color: #7b6226;
    color: #ccc;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.description{
    padding-top: 5px;
}