* {
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body {
    background-color: #383842;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ccc;
}

.index {
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
}

.nav {
    list-style-type: none;
    top: 0;
    margin: 0 auto;
    padding: 0;
    height: inherit;
    background-color: black;
}

.nav p {
    display: block;
    float: left;
    position: relative;
    background-position: 0 -5px;
    background-size: 100% 110%;
    transition: all 0.4s;
}

.nav p a:hover {
    background-position: 0 0;
    color: #748c9a;
    font-size: 110%;
    font-weight: bold;
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.collection {
    color: #ccc;
    grid-column: 1fr;
}

input[type=submit], .button {
    background-color: #af964e;
    padding: 5px;
    border: none;
    border-radius: 8px;
    color: #ccc;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

input[type=submit]:hover, .button:hover {
    background-color: #7b6226;
    color: #ccc;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

input[type=submit]:disabled {
    background-color: #7b6226;
    color: darkred;
}

.description{
    padding-top: 5px;
}

.store-heading {
    padding-left: 10%;
    padding-top: 10%;
}

a.button {
    text-decoration: none;
}


.img-container {
    position: relative;
    font-family: Arial;
}

.img-text{
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: rgba(119, 119, 119, 0.8);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transform: rotate(-45deg);
}

.gem-heading a {
    color: #ccc;
    font-size: 1.5em;
    font-weight: bold;
}

hr {
    height: 2px;
    background-color: rgba(119, 119, 119, 0.8);
}

.center {
    text-align: center;
}